@import "../../../assets/styles/variables.scss";

.forwardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
}
