@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/templates.scss";

.profile__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  max-height: 24px;

  .profile__arrowBack,
  .profile__logOut {
    margin: 0;
    max-height: 100%;
    width: auto;
  }
}

.profile__table {
  margin-top: 29px;
  padding: 0 33px;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  grid-gap: 26px;
}

.profile-table__item {
  display: grid;
  grid-template: 42px / 42px auto 24px;
  grid-gap: 29px;
  align-items: center;

  &:last-child {
    grid-gap: 0;
  }

  .profile-table__item-block {
    display: grid;
    grid-template: 21px 21px / auto;
    justify-self: flex-start;
    align-items: center;

    .item-block__text {
      font-size: 10px;
      font-weight: 500;
      color: rgba(0, 24, 51, 0.22);
    }

    .item-block__variable {
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 600;
      color: rgba(50, 74, 89, 1);
    }
  }

  .edit {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url("/src/assets/images/geometric-icons/edit.svg");
  }
}

.profile-table__qr-code {
  margin: 0 auto;
  margin-top: 20px;
  width: 247px;
  height: 100%;
}