@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/templates.scss";

.container-order__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-xm);
    max-height: 24px;
    padding: 20px;

    img {
        margin: 0;
        max-height: 100%;
        width: auto;
    }

}

.highlight {
    border: 1.2px solid #000000;
}


.container-order__coffee {
    padding: 0 10px;
}

.container-order__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F7F8FB;
    border-radius: 20px;
}

.container-order__item {
    padding: 10px 5px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #F4F5F7;
}

.container-order__text {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 14px;
    color: #001833;
    margin-left: 5px;
}

.container-order__image {
    width: 152px;
    height: 121px;
    margin: 12.5px;
}

.container-order__item-quantity {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 29px;
    width: 73px;
    border: 1.2px solid #D8D8D8;
    border-radius: 50px;
    margin-right: 20px;
}

.container-order__item-strength {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 10px;

}

.container-order__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 73px;
    background-color: white;
    cursor: pointer;
    border: 1.2px solid #D8D8D8;
    border-radius: 50px;
}

.container-order__item-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 27px;
}

.container-order__temperature {
    cursor: pointer;
}

.container-order__temperature_hot {
    width: 28px;
    height: 27px;
}

.container-order__temperature_cold {
    width: 20px;
    height: 34px;

}

.container-order__cup-size {
    cursor: pointer;
    margin-right: 20px;
}

.container-order__item_switch {
    display: inline-block;
    position: relative;
    width: 51px;
    height: 31px;
    border-radius: 31px;
    background-color: #34C759;
}

.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #ccc;
    transition: 0.4s;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}