@import "./variables.scss";
@import "./templates.scss";
@import "../../ui/pages/welcome/welcome.module.scss";
@import "../../ui/pages/additives/additives.module.scss";
@import "../../ui/pages/authorization/authorization.module.scss";
@import "../../ui/pages/cafe/cafe.module.scss";
@import "../../ui/pages/coffee-country/coffee-country.module.scss";
@import "../../ui/pages/coffee-type/coffee-type.module.scss";
@import "../../ui/pages/designer/designer.module.scss";
@import "../../ui/pages/menu/menu.module.scss";
@import "../../ui/pages/my-order/my-orders.module.scss";
@import "../../ui/pages/order-confirmed/order-confirmed.module.scss";
@import "../../ui/pages/order-options/order-options.module.scss";
@import "../../ui/pages/password-remind/password-remind.module.scss";
@import "../../ui/pages/profile/profile.module.scss";
@import "../../ui/pages/registration/registration.module.scss";
@import "../../ui/pages/startup-screen/startup-screen.module.scss";
@import "../../ui/pages/current-order/current-order.module.scss";
@import "../../ui/components/header/header.module.scss";
@import "../../ui/components/coffee-card/coffee-card.module.scss";
@import "../../ui/components/forward-button/forward-button.module.scss";
@import "../../ui/components/footer/footer.module.scss";

@font-face {
  font-family: "Reenie Beanie";
  src: url(../fonts/reenie_beanie/ReenieBeanie-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/reenie_beanie/ReenieBeanie-Regular.ttf);
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/reenie_beanie/ReenieBeanie-Regular.ttf);
}

@font-face {
  font-family: "Segoe Print";
  src: url(../fonts/reenie_beanie/ReenieBeanie-Regular.ttf);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;

  @include poppins(400);
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var();
  display: flex;
  flex-direction: column;
  align-items: center;
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xm) var(--space-xl);
    width: 100%;
    height: var(--space-xxl);
    img {
      margin: 0;
      max-height: 100%;
      width: auto;
    }
  }

  #main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    flex-grow: 1;
  }
}
