@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/templates.scss";

.order-confirmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 0.5s forwards;
}

.order-confirmed__image {
  margin-top: 69px;
  padding: 5.53px, 13.83px;
  width: 177px;
  height: 177px;
}

.order-confirmed__title {
  margin: 19px 0 0;
  width: 280px;

  h2 {
    margin: 0;
    height: 24px;
    color: #181d2d;
    @include poppins(500);
  }
}

.order-confirmed__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 19px;
  width: 321px;
  height: 216px;
  font-size: 13px;
  color: #aaaaaa;
  @include poppins(400);
  gap: 40px;

  .order-confirmed__result {
    width: 220px;
    font-size: var(--spase-m);
    color: var(--black-color);
  }

  a {
    color: var(--text-color-base);
    text-decoration: none;
  }
}
