@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/templates.scss";

.additives {
  * {
    margin: 0;
  }

  height: 100%;
}

.additives-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-m) 0;
  padding: 0 var(--space-l);

  .additives-header__title {
    @include poppins(500);
    font-size: var(--space-xm);
    color: var(--text-color-base);
  }

  .coffeetype-header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
}

.additives-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 0 var(--space-s);

  .additives-title__text {
    @include poppins(500);
    font-size: var(--space-xm);
    color: var(--text-color-base);
  }
}

.additives-content {
  * {
    margin: 0;
  }

  .additives-content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px var(--space-s);
    min-height: 50px;
    border-bottom: 1px solid var(--line-color);
    cursor: pointer;

    .additives-content__text {
      display: block;
      font-size: var(--space-m);
      color: var(--text-color-base);
      @include dm-sans(500);
    }

    .additives-content__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      display: none;
      animation-delay: 1s;
    }
  }
}